@model OnlineITStore.Models.Tbl_Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>

    /* Basic Styling */
@*html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}*@

    .product-container {
        max-width: 1200px;
        margin: 0 auto;
        @*padding: 15px;*@
        display: flex;
        @*flex-direction: column;*@
    }

/* Columns */
.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 35%;
  @*margin-top: 60px;*@
}


/* Left Column */
.left-column img {
  width: 100%;
  @*position: absolute;*@
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.left-column img.active {
  opacity: 1;
}


/* Right Column */

/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* Product Configuration */
.product-color span,
.cable-config span {
  font-size: 14px;
  font-weight: 400;
  color: #86939E;
  margin-bottom: 20px;
  display: inline-block;
}

/* Product Color */
.product-color {
  margin-bottom: 30px;
}

.color-choose div {
  display: inline-block;
}

.color-choose input[type="radio"] {
  display: none;
}

.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.color-choose input[type="radio"] + label span {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.color-choose input[type="radio"]#red + label span {
  background-color: #C91524;
}
.color-choose input[type="radio"]#blue + label span {
  background-color: #314780;
}
.color-choose input[type="radio"]#black + label span {
  background-color: #323232;
}

.color-choose input[type="radio"]:checked + label span {
  background-image: url(images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Cable Configuration */
.cable-choose {
  margin-bottom: 20px;
}

.cable-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}

.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}

.cable-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.cable-config a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.cable-config a:before {
  content: "?";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

/* Product Price */
.product-price {
  display: flex;
  @*flex-direction: column;*@
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  @*color: #43474D;*@
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}

/* Responsive */
@@media (max-width: 940px) {
  .product-container {
    flex-direction: column;
    margin-top: 60px;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}

@@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}



    .style-1 {
        @*margin: 1em;
        padding: 1em;
        *@ flex-basis: 500px;
        @*border: 1px dotted #ccc;
        *@ display: inline-block;
        @*color: #484848;
        *@ margin: 0 0 10px;
    }

        .style-1 del {
            color: rgba(255, 0, 0, 0.5) !important;
            text-decoration: none;
            position: relative;
        }

            .style-1 del:before {
                content: " ";
                display: block;
                width: 100%;
                border-top: 2px solid rgba(255, 0, 0, 0.8);
                height: 16px;
                position: absolute;
                bottom: 0;
                left: 0;
                transform: rotate(-7deg);
            }

        .style-1 ins {
            margin-top: 2px;
            color: green !important;
            font-size: 16px;
            text-decoration: none;
            padding: 1em 1em 1em 0.5em;
        }

</style>

@*<h2>Details</h2>

    <div>
        <h4>Tbl_Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Tbl_Category.CategoryName)
            </dt>

            <dd>

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>

            <dd>

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsDelete)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsDelete)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductImage)
            </dt>


            <dd>
                @Html.DisplayFor(model => model.IsFeatured)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>

        </dl>
    </div>*@




<main class="product-container">

    <!-- Left Column / Headphones Image -->
    <div class="left-column" style="height:500px; height:500px; display:flex; justify-content:center; align-items:center; align-content:center;">
        @*<img data-image="black" src="images/black.png" alt="">
            <img data-image="blue" src="images/blue.png" alt="">*@
        <img data-image="red" style="height:auto; width:auto;" class="active" src="@Url.Content(Model.ProductImage)" alt="">
    </div>


    <!-- Right Column -->
    <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
            <span>@Html.DisplayFor(model => model.Tbl_Category.CategoryName)</span>
            <h1>@Html.DisplayFor(model => model.ProductName)</h1>
            <p>@Html.DisplayFor(model => model.ProductDescription)</p>
        </div>

        <!-- Product Configuration -->
        <div class="product-configuration">

            <!-- Product Color -->
            <div class="product-color">
                @*<span>Color</span>

            <div class="color-choose">
                    <div>
                        <input data-image="red" type="radio" id="red" name="color" value="red" checked>
                        <label for="red"><span></span></label>
                    </div>
                    <div>
                        <input data-image="blue" type="radio" id="blue" name="color" value="blue">
                        <label for="blue"><span></span></label>
                    </div>
                    <div>
                        <input data-image="black" type="radio" id="black" name="color" value="black">
                        <label for="black"><span></span></label>
                    </div>
                </div>

                </div>*@

                <!-- Cable Configuration -->
                <div class="cable-config">
                    <span>Quantity: @Html.DisplayFor(model => model.Quantity)</span>

                    @*<div class="cable-choose">
                    <button>Straight</button>
                    <button>Coiled</button>
                    <button>Long-coiled</button>
                </div>*@

                    @*<a href="#">How to configurate your headphones</a>*@
                </div>
            </div>

            <!-- Product Pricing -->
            <div class="product-price">

                @if (Model.IsOnSale == true)
                {
                    <div class="style-1">
                        <del>
                            <span class="amount">@string.Format("{0:n2}", (Model.Price)) ден.</span>
                        </del>
                        <br />
                        <ins>
                            <span class="amount">@string.Format("{0:n2}", (Model.Price * Model.SaleModifier)) ден.</span>
                        </ins>
                    </div>
                }
                else if (Model.Quantity < 1 || Model.IsActive == false)
                {
                    <div class="style-1">
                        <del>
                            <span class="amount">@string.Format("{0:n2}", (Model.Price)) ден.</span>
                        </del>
                    </div>
                }
                else
                {
                    <span>@string.Format("{0:n2}", (Model.Price)) ден.</span>
                }



                @if (Model.Quantity > 0 && Model.IsActive == true && Request.IsAuthenticated)
                {
                    @Ajax.ActionLink("Add To Cart ", "AddToCart", "Home", new { productId = Model.ProductId, url = "Details" },
                                        new AjaxOptions
                                        {
                                            UpdateTargetId = "shoppingcart",
                                            InsertionMode = InsertionMode.Replace,
                                            HttpMethod = "GET"
                                        },
                                        new { @class = "pull-right btn btn-success add-cart-icon add-to-cart-animation cart-btn" }

                                        )
                }
                else
                {

                    <a class="pull-right btn btn-success add-cart-icon add-to-cart-animation cart-btn" href="#" disabled="disabled">Add to cart  </a>
                }

            </div>

            @if (Request.UrlReferrer != null)
            {
                <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a><br />
            }
        </div>
</main>

<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
<script src="script.js" charset="utf-8"></script>



@section Scripts{
    <script>

        $(document).ready(function () {

            $('.color-choose input').on('click', function () {
                var headphonesColor = $(this).attr('data-image');

                $('.active').removeClass('active');
                $('.left-column img[data-image = ' + headphonesColor + ']').addClass('active');
                $(this).addClass('active');
            });
            $(".add-cart-icon").append("<i class='fa fa-shopping-cart'></i>")



            $(document).on("click", ".add-to-cart-animation", function () {
                if ($("#fademsg").is(':animated')) {
                    $("#fademsg").stop().animate({ opacity: '100' });
                }
                $("#fademsg").css("z-index", "2");
                $("#fademsg").show();
                $("#fademsg").css("display", "none");
                $("#fademsg").text("Item added to cart!");
                $("#fademsg").css("position", "fixed");
                $("#fademsg").css("left", "50%");
                $("#fademsg").css("top", "0px");
                var w = parseInt($("#fademsg").css("width"), 10);
                $("#fademsg").css("margin-left", "-" + w / 2 + "px");
                $("#fademsg").css("display", "inline");
                $("#fademsg").fadeOut(2200);
            })

        });

    </script>
} 